body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(39, 35, 35);
    padding-bottom: 250px;
    padding-top: 250px;
    direction: rtl;
}

.container {
    height: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.title {
    width: 100%;
    height: 44px;
    color: white;
    background-color: #98958a;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.content-container {
    flex-grow: 1;
    background-color: #ccc8bc;
    position: relative;

}

.next-btn {
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: #ffff;
    padding: 4px;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

.prev-btn {
    position: absolute;
    top: 50%;
    right: 0%;
    background-color: #ffff;
    padding: 4px;
    border: none;
    cursor: pointer;
    z-index: 9999;
}


.swiper {
    position: absolute;
    right: 0px;
    width: 3054px;
    height: 300px;
    background: url('./assets/timelineBg.png') right;
    background-repeat: no-repeat;
    display: flex;
    justify-items: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.items-container {
    width: 100%;
    height: 100%;
    margin-right: 106px;
    position: relative;
}

.item {
    max-width: 100px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.photo-container {
    width: full;
    height: auto;
    margin-bottom: 15px;
}

.image {
    width: 100%;
    height: auto;
    transition: all 0.25s ease;
}

.name-txt-container,
.year-txt-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: rgb(94, 94, 94);
    transition: all 0.25s ease;
    background-color: #ccc8bc;
}

.year-txt-container {
    font-size: 0;
    padding-bottom: 5px;
}

.item:hover .year-txt-container {
    font-size: small;
}

.item:hover .name-txt-container,
.year-txt-container {
    color: #000000;
    font-weight: bold;
}

.item:hover .image {
    transform: scale(1.15);
}

#item_1 {
    position: absolute;
    right: -9px;
    bottom: 41px;
}

#item_2 {
    position: absolute;
    right: 122px;
    bottom: 41px;
}

#item_3 {
    position: absolute;
    right: 250px;
    bottom: 41px;
}

#item_4 {
    position: absolute;
    right: 402px;
    bottom: 41px;
}

#item_5 {
    position: absolute;
    right: 572px;
    bottom: 41px;
}

#item_6 {
    position: absolute;
    right: 744px;
    bottom: 41px;
}

#item_7 {
    position: absolute;
    right: 916px;
    bottom: 41px;
}

#item_8 {
    position: absolute;
    right: 1038px;
    bottom: 41px;
}

#item_9 {
    position: absolute;
    right: 1130px;
    bottom: 41px;
}

#item_10 {
    position: absolute;
    right: 1324px;
    bottom: 41px;
}

#item_11 {
    position: absolute;
    right: 1483px;
    bottom: 41px;
}

#item_12 {
    position: absolute;
    right: 1720px;
    bottom: 41px;
}

#item_13 {
    position: absolute;
    right: 1897px;
    bottom: 41px;
}

#item_14 {
    position: absolute;
    right: 2069px;
    bottom: 41px;
}

#item_15 {
    position: absolute;
    right: 2187px;
    bottom: 41px;
}


#item_16 {
    position: absolute;
    right: 2307px;
    bottom: 41px;
}

#item_17 {
    position: absolute;
    right: 2464px;
    bottom: 41px;
}

#item_18 {
    position: absolute;
    right: 2601px;
    bottom: 41px;
}

#item_19 {
    position: absolute;
    right: 2752px;
    bottom: 41px;
}

#item_20 {
    position: absolute;
    right: 2832px;
    bottom: 41px;
}
